.titleFullComponent h4{
    padding-top: 5%;
    padding-bottom: 5%;
}
.padding-top-FullList {
    padding-top: 3.1%;
}
.margin-bottom-full-list-comp {
    margin-bottom: 3%;
    height: 30vh;
}
.paddingBottomFullListSearch{
    padding-bottom: 4.5%;
}

